@import "../../scss/colors";

.tc-button-main {
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  &.tc-button-main-primary {
    background: linear-gradient(0deg, $primary, darken($primary, 5));
    &:hover {
      background: linear-gradient(
        0deg,
        darken($primary, 3),
        darken($primary, 8)
      );
    }
  }
  &.tc-button-main-secondary {
    background: linear-gradient(0deg, $secondary, darken($secondary, 5));
    &:hover {
      background: linear-gradient(
        0deg,
        darken($secondary, 3),
        darken($secondary, 8)
      );
    }
  }
  &.tc-button-full-width {
    width: 100%;
    text-align: center;
  }
  svg {
    margin-right: 5px;
  }
}
