.tc-board-main {
  padding: 20px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  & > * {
    max-width: 300px;
    min-width: 300px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
